<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%- assign embed_description = page.summary | default: page.description -%}
  {%- if embed_description -%}
    {%- assign embed_description = embed_description | strip_html | normalize_whitespace | escape -%}
    <meta name="description" content="{{ embed_description }}" />
    <meta property="og:description" content="{{ embed_description }}" />
    <meta name="twitter:description" content="{{ embed_description }}" />
  {%- endif -%}

  {%-seo title=false-%}
  {%-feed_meta-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
</head>